html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, variable, form, fieldset, blockquote {
 padding: 0;
 margin: 0;
 font-size: 100%;
 font-weight: normal;
}
html,body{
	width:100%;
	height: 100%;
}
table { border-collapse: collapse; border-spacing: 0; }
td, th, caption { font-weight: normal; text-align: left; }
img, fieldset { border: 0; }
ol { padding-left: 1.4em; list-style: decimal; }
ul { padding-left: 1.4em; list-style:square; }
dl,dt,dd{
	margin:0;
	padding:0;
}
q:before, q:after { content:''; }
header,nav,article,section,footer{
	display:block;
}
#loadingStatus{
	position: fixed;
	top: 0;
	left: 50%;
	margin-left: -5em;
	border: 2px solid #fff1ab;
	border-top: none;
	-webkit-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
	padding: 3px;
	background: #fff1ab;
	display: none;
	z-index: 9999;
}
