!!! 5
html
  head
    meta(charset='utf-8')
    meta(name='description', content='workphone.')
    meta(name='keywords', content='workphone')
    title 海云安全手机
    link(rel='shortcut icon', href='images/logo.png')
    link(rel='stylesheet', type='text/css', href='jquery-ui-1.8.23.custom/css/ui-lightness/jquery-ui-1.8.23.custom.css')
    link(type='text/css', rel='stylesheet', href='style/reset.css')
    link(type='text/css', rel='stylesheet', href='jqueryCustom/jquery.mCustomScrollbar.css')
    link(type='text/css', rel='stylesheet', href='style/admin.css')
    link(type='text/css', rel='stylesheet', href='style/vinput.css')
    link(type='text/css', rel='stylesheet', href='style/div_style.css')
    script(type='text/javascript', src='script/modernizr+2.0.3.js')
    script(type='text/javascript', src='jquery-ui-1.8.23.custom/js/jquery-1.8.0.min.js')
    script(type='text/javascript', src='jquery-ui-1.8.23.custom/js/jquery-ui-1.8.23.custom.min.js')
    script(type='text/javascript', src='script/setCookie.js')
    script(type='text/javascript', src='jqueryCustom/jquery.mCustomScrollbar.concat.min.js')
  body
    #wrap
      header
        // 头部
        a#toplogo
          img(src='images/logo_ad.png', alt='', height='45')
        nav#top
          ul
            // 头部的连接
            li
              a(href='/f_org_acc') 账户
            li
              a(href='/f_org_home') 设备管理
            li
              a(href='/f_org_strategy') 策略配置
            li
              a.navHover(href='/f_org_contacts') 同步联系人
            li
              a(href='/f_org_mapp') 应用管理
            li
              a(href='/f_org_trace') 丢失溯源
            li
              a(href='/f_org_setLDAP') LDAP配置
            li
              a#logout(href='#') 退出
      aside#contacts
        // 边栏
        // workphone logo
        ul#guanli
          li
             i#notice *选择要进行下发操作的用户
          li.firstLi
            img.kao(src='images/home.png', width='20', height='20', alt='logo', style='position:absolute;top:3px;left:0;')
            div#yic
            // 管理员
      article
        // 右面的主体内容容器
        section#contacts_list
          // 左侧联系人列表
          input#search.search(type='text',name='search',width='30', height='20',placeholder='请输入查询关键字',autocomplete='off')
          button#searchBtn(onclick="search()") 查询
          ul#user_tree
            li
              i#notice1 *选择要下发的联系人
            li.secondLi
              div#tree(class='tree')
              // 小部
        #contacts_cM
        section#contacts_con.contacts_con
          #contacts_c
            #contacts_cL
              table#ccL
                // 这里是设备列表的头部
                colgroup
                  col.col_1
                  col.col_2
                  col.col_3
                  col.col_4
                  col.col_5
                tr
                  th
                    span(id="selectall",class="checkbox checkbox_checked",onclick='selectAll(this.id)')
                  th
                    a(id='thstatus',class='0',onclick='sortable(2,this.id)') 姓名
                  th
                    a(id='thname',class='0',onclick='sortable(5,this.id)') 职位/职称
                  th
                    a(id='themail',class='0',onclick='sortable(6,this.id)') 所属部门
                  th
                    a(id='thtelephone',class='0',onclick='sortable(4,this.id)') 电话号码
            #contacts_cN.jscroll
              // jscroll
              .jscrollContainer
                table#ccN.altTr
                  // 设备列表的主体内容
                  colgroup
                    col.col_1
                    col.col_2
                    col.col_3
                    col.col_4
                    col.col_5
                  tbody
          #contacts_act
            #contacts_xq
            #contacts_Bn
               button#tb(type='button',onclick='sendcontacts()') 下发联系人

    script(type='text/javascript', src='script/login_ad.js')
    script(type='text/javascript', src='script/vinput.js')
    script(type='text/javascript', src='script/main.js')
    script(type='text/javascript', src='script/contacts.js')
    script(type='text/javascript', src="script/jquery.tablesorter.js")
