!!! 5
html
  head
    meta(charset='utf-8')
    meta(name='description', content='WorkPhone.')
    meta(name='keywords', content='WorkPhone')
    title 海云安全手机
    link(rel='shortcut icon', href='images/logo.png')
    link(rel='stylesheet', type='text/css', href='jquery-ui-1.8.23.custom/css/ui-lightness/jquery-ui-1.8.23.custom.css')
    link(rel='stylesheet', type='text/css', href='style/reset.css')
    link(rel='stylesheet', type='text/css', href='style/global.css')
    link(type='text/css', rel='stylesheet', href='style/login.css')
    link(type='text/css', rel='stylesheet', href='style/vinput.css')
    script(type='text/javascript', src='script/modernizr+2.0.3.js')
    script(type='text/javascript', src='jquery-ui-1.8.23.custom/js/jquery-1.8.0.min.js')
    script(type='text/javascript', src='jquery-ui-1.8.23.custom/js/jquery-ui-1.8.23.custom.min.js')
    script(type='text/javascript', src='script/setCookie.js')
  body
    block content