!!! 5
html
  head
    meta(charset='utf-8')
    meta(name='description', content='WorkPhone')
    meta(name='keywords', content='WorkPhone')
    title 海云安全手机管理系统
    link(rel='shortcut icon', href='images/logo.png')
    link(type='text/css', rel='stylesheet', href='style/reset.css')
    link(type='text/css', rel='stylesheet', href='style/login_ad.css')
    link(type='text/css', rel='stylesheet', href='style/vinput.css')
    script(type='text/javascript', src='script/modernizr+2.0.3.js')
    script(type='text/javascript', src='jquery-ui-1.8.23.custom/js/jquery-1.8.0.min.js')
    script(type='text/javascript', src='script/setCookie.js')
  body
    script(type='text/javascript', src='script/les_ad.js')
    p#downloadhb
      a#downhb(charset='utf-8',href='http://61.50.116.134:6083/download/readme/多维管控平台用户手册2.0.docx') 点击下载《多维管控平台用户手册》
          //img(src='images/help_book_5.png',title="点击下载《多维管控平台用户手册》",alt="点击下载《多维管控平台用户手册》",height='45')
    .container
      h1 管理员登录
      form#login(method='post', name='login', action='', onsubmit="return false;")
        //.top
          a#wo(href='/f_org_login') 企业版
          a#peo(href='/f_per_login') 个人版
        p#zhanghu
          input#uid(type='text', name='uid', placeholder='用户名')
        p#mima
          input#password(type='password', name='password', placeholder='密码')
        p#option
          a.lesAlt(href='javascript:;') 忘记密码
          span#saveUid.checkbox.checkbox_uncheck
          label(for='saveUid') 记住账号
        p#anniu
          button#loginBtn(type='submit') 确定
    div.overLay
    div.lesCont
      p.lesNote 请联系管理员，发送邮件至jingpengfei@iie.ac.cn
      p.center
        button.lesClose 确定
    script(type='text/javascript', src='script/login_ad.js')
    script(type='text/javascript', src='script/vinput.js')